<?xml version="1.0"?>

<robot name="cestra" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find cestra_description)/urdf/diff_drive/diff_properties.urdf.xacro"/>
<xacro:include filename="$(find cestra_description)/urdf/diff_drive/diff_wheels.urdf.xacro"/>
<xacro:include filename="$(find cestra_description)/urdf/inertial_macros.xacro" />

<!-- <xacro:include filename="$(find cestra_description)/urdf/sensors/lidar.xacro" />
<xacro:include filename="$(find cestra_description)/urdf/sensors/camera.xacro" />
<xacro:include filename="$(find cestra_description)/urdf/sensors/imu.xacro" /> -->

<!-- Robot Base -->
<link name="base_link"> </link>

<joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="-0.1 0 0"/>
</joint>

<!-- Base Chassis -->
<link name="chassis">
    <visual>
        <origin xyz="${base_height} 0 ${base_height/2}" rpy="0 0 0"/>
        <geometry>
            <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
        <material name="white"/>
    </visual>

    <collision>
        <origin xyz="${base_height} 0 ${base_height/2}" rpy="0 0 0"/>
        <geometry>
            <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
    </collision>

    <xacro:inertial_box mass="0.5" x="0.3" y="0.3" z="0.15">
      <origin xyz="${base_height} 0 ${base_height/2}" rpy="0 0 0"/>
    </xacro:inertial_box>
</link>

<!-- Diff Wheels -->
<xacro:diff_wheel prefix="left" reflect="1" />
<xacro:diff_wheel prefix="right" reflect="-1" />

<!-- Caster Wheels -->
<joint name="caster_wheel_joint" type="fixed">
    <parent link="chassis"/>
    <child link="caster_wheel"/>
    <origin xyz="0.24 0 0" rpy="0 0 0"/>
</joint>

 <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="${caster_wheel_radius}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="${caster_wheel_radius}"/>
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="10" radius="${caster_wheel_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

    <gazebo reference="caster_wheel">
        <material>Gazebo/Blue</material>
        <mu1 value="0.01"/>
        <mu2 value="0.01"/>
    </gazebo>

<gazebo>
    <!-- Having a separate controller per joint -->
  <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
    <joint_name>left_wheel_joint</joint_name>
  </plugin>

  <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
    <joint_name>right_wheel_joint</joint_name>
  </plugin>

  <!-- Publishes sensor_msgs/JointState to /joint_states
  <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    <joint_name>left_wheel_joint</joint_name>
    <joint_name>right_wheel_joint</joint_name>
  </plugin> -->
</gazebo>


</robot>


<!-- 
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>

            
            <wheel_separation>0.4</wheel_separation>   
            <wheel_radius>0.1</wheel_radius>           

            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>

            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_tf>true</publish_tf>
        </plugin>
    

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>right_wheel_joint</joint_name>
            <joint_name>left_wheel_joint</joint_name>
        </plugin>


 -->